:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16rem;

  --bg-color: #edf2ff;
  --text-color: #00082f;

  --hue: ;
  --primary-color: hsla(228, 81%, 59%, 0.6);
  --primary-color-dark: hsl(228, 57%, 50%);
}

body.light-blue {
  --bg-color: #dfe1e6;
  --text-color: #00082e;

  --hue: 245;
  --primary-color: hsla(var(--hue), 81%, 59%, 0.6);
  --primary-color-dark: hsl(var(--hue), 81%, 59%);
}

body.dark-blue {
  --bg-color: hsl(266, 100%, 9%);
  --text-color: hsl(223, 100%, 96%);

  --primary-color: hsla(228, 81%, 59%, 0.6);
  --primary-color-dark: hsl(230, 57%, 50%);

  --particles-lines: #c73642;
}

body.pink {
  --bg-color: #fff0f6;
  --text-color: #1f000b;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

body.dark-pink {
  --bg-color: #1f000b;
  --text-color: #fff0f6;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -55%);
}

.container {
  text-align: center;
  width: min(95%, 30rem);
  padding: 2rem 1rem;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  margin: 4rem 0.3rem 2rem;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
