---
const { username } = Astro.props;
---

<img
  class="avatar"
  src={`https://github.com/${username}.png`}
  alt={`Imagem de perfil de ${username}`}
/>
<h1>Evandro Damaso</h1>
<p class="username">{`@${username}`}</p>

<style>
  img.avatar {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    padding: 0.37rem;
    border: var(--primary-color) solid 4px;
  }

  h1 {
    font-size: 3.2rem;
    margin-top: 2.4rem;
    margin-bottom: 0.8rem;
  }

  .username {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 1.8rem;
  }
</style>
